<h1>Playground</h1>

<ul>
  <%= react_component 'Submenu', ressource: messages_path(format: :json), label: 'Messages'  %>
</ul>


<p id="notice"><%= notice %></p>

<hr />

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Username</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.title %></td>
        <td><%= message.username %></td>
        <td><%= message.content %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
